.call-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #000;
}

.local-video {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 200px;
  height: 150px;
  border: 2px solid #fff;
  border-radius: 5px;
}

.remote-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
