<div class="story-bar-container">
  <div class="story-bar">
    <!-- Add Story (Current User) -->
    <div class="story" (click)="handleMyStoryClick()">
      <div class="story-avatar">
        <img [src]="currentUser?.profileImageUrl || 'https://i.pravatar.cc/150?u=' + currentUser?.username" alt="Your Story">
        <div class="add-icon" (click)="openCreateStoryDialog($event)">
          <mat-icon>add</mat-icon>
        </div>
      </div>
      <div class="story-username">Your Story</div>
    </div>

    <!-- Other Users' Stories -->
    <div class="story" *ngFor="let user of groupedStories" (click)="viewUserStories(user.username)">
      <div class="story-avatar" [class.viewed-story]="user.viewedByMe">
        <img [src]="user.profileImageUrl || 'https://i.pravatar.cc/150?u=' + user.username" alt="{{user.username}}">
      </div>
      <div class="story-username">{{ user.username }}</div>
    </div>
  </div>
</div>
