.dialog-overlay {
  position: fixed;
  /* top: 0;
  left: 0; */
  width: 500px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.dialog-actions {
  margin-top: 20px;
}

.dialog-actions button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dialog-actions button:first-child {
  background-color: #007bff;
  color: white;
}

.dialog-actions button:last-child {
  background-color: #f1f1f1;
}
