<nav class="bottom-navbar">
  <a routerLink="/" routerLinkActive="active" class="nav-item">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </a>
  <a routerLink="/search" routerLinkActive="active" class="nav-item">
    <mat-icon>search</mat-icon>
    <span>Search</span>
  </a>
  <a routerLink="/create" routerLinkActive="active" class="nav-item">
    <mat-icon>add_box</mat-icon>
    <span>Create</span>
  </a>
  <a routerLink="/notifications" routerLinkActive="active" class="nav-item">
    <mat-icon>favorite</mat-icon>
    <span>Notifications</span>
  </a>
  <a routerLink="/profile" routerLinkActive="active" class="nav-item">
    <mat-icon>person</mat-icon>
    <span>Profile</span>
  </a>
</nav>
