<div class="post-card">
  <div class="post-header">
    <div class="post-avatar">
      <img [src]="post.profileImage" alt="Avatar">
    </div>
    <div class="post-username">{{ post.username }}</div>
  </div>
  <img [src]="post.mediaUrl" alt="Post Image" class="post-image">
  <div class="post-actions">
    <button title="like" (click)="onLike($event)">
      <i class="{{ post.likedByCurrentUser ? 'fas fa-heart liked' : 'far fa-heart'}}"></i>
    </button>
    <button title="comment" (click)="onComment($event)"><i class="far fa-comment"></i></button>
    <button title="share" (click)="onShare($event)"><i class="far fa-paper-plane"></i></button>
  </div>
  <div class="post-likes">{{ post.likeCount }} likes</div>
  <div class="post-caption">
    <strong>{{ post.username }}</strong> {{ post.content }}
  </div>
  <div class="post-comments">View all {{ post.commentsCount }} comments</div>
</div>
