<div class="home-container">
  <!-- Left Feed Section -->
  <div class="feed-section">
    <app-story-bar></app-story-bar>

    <div class="feed">
      <app-post-card
        *ngFor="let post of posts"
        [post]="post"
        (click)="openPostDetailsDialog(post.id)">
      </app-post-card>
    </div>
  </div>

  <!-- Post Details Modal -->
  <app-post-details-dialog 
    *ngIf="showPostDetailsDialog"
    [postId]="selectedPostId!"
    (close)="closePostDetailsDialog()">
  </app-post-details-dialog>

  <!-- Right Sidebar -->
  <aside class="right-sidebar">
    <div class="profile-section">
      <img [src]="currentUser?.profileImageUrl" alt="User" class="profile-pic" />
      <div class="profile-info">
        <div class="username">{{ currentUser?.username }}</div>
        <div class="fullname">{{ currentUser?.firstName }} {{ currentUser?.lastName }}</div>
      </div>
      <button class="switch-btn">Switch</button>
    </div>

    <div class="suggestions">
      <div class="suggestions-header">
        <div>Suggestions for you</div>
        <a href="#">See All</a>
      </div>

      <div *ngFor="let suggestion of suggestions" class="suggestion">
        <div class="suggestion-left" (click)="goToProfile(suggestion.username)">
          <img
            [src]="suggestion.profileUrl || 'https://i.pravatar.cc/150?u=' + suggestion.username"
            alt="User"
            class="suggestion-img"
          />
          <div class="suggestion-info">
            <div class="username">{{ suggestion.username }}</div>
            <div class="mutual" *ngIf="suggestion.mutualCount > 0">
              {{ suggestion.mutualCount }} mutuals
            </div>
          </div>
        </div>
        <button class="follow-btn" (click)="toggleFollow(suggestion)">
          {{
            suggestion.private
              ? (suggestion.isRequested ? 'Requested' : 'Request')
              : (suggestion.isFollowing ? 'Unfollow' : 'Follow')
          }}
        </button>
      </div>
    </div>

    <app-pending-requests
      *ngIf="currentUser?.private && pendingRequests.length > 0"
      [pendingRequests]="pendingRequests">
    </app-pending-requests>
  </aside>
</div>
