.archived-posts-container {
  padding: 20px;
}

.no-posts {
  text-align: center;
  margin-top: 50px;
  color: #8e8e8e;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.post-item {
  cursor: pointer;
  position: relative;
  padding-bottom: 100%; /* 1:1 Aspect Ratio */
}

.post-item .post-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
