<div class="story-dialog">
  <div class="story-header">
    <div class="progress-bars-wrapper">
      <ng-container *ngFor="let story of stories; let i = index">
        <div class="progress-bar-container">
          <div
            class="progress-bar"
            [style.width.%]="
              i < currentIndex
                ? 100
                : i === currentIndex
                ? currentStoryProgress
                : 0
            "
          ></div>
        </div>
      </ng-container>
    </div>

    <div class="user-info">
      <img [src]="currentStory?.profileImageUrl" alt="User">
      <span>
        {{ currentStory?.username }}
        <svg *ngIf="currentStory?.premiumUser" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="14px" height="14px"><polygon fill="#42a5f5" points="29.62,3 33.053,8.308 39.367,8.624 39.686,14.937 44.997,18.367 42.116,23.995 45,29.62 39.692,33.053 39.376,39.367 33.063,39.686 29.633,44.997 24.005,42.116 18.38,45 14.947,39.692 8.633,39.376 8.314,33.063 3.003,29.633 5.884,24.005 3,18.38 8.308,14.947 8.624,8.633 14.937,8.314 18.367,3.003 23.995,5.884"/><polygon fill="#fff" points="21.396,31.255 14.899,24.76 17.021,22.639 21.428,27.046 30.996,17.772 33.084,19.926"/></svg>
      </span>
    </div>
    <button class="close-btn" (click)="close()">×</button>
  </div>

  <div class="story-content">
    <img *ngIf="isImage(currentStory?.contentUrl)" [src]="currentStory?.contentUrl" alt="Story Image">
    <video *ngIf="isVideo(currentStory?.contentUrl)" [src]="currentStory?.contentUrl" autoplay muted></video>

    <button
      mat-icon-button
      class="nav prev"
      (click)="prevStory()"
      [disabled]="currentIndex === 0"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button
      mat-icon-button
      class="nav next"
      (click)="nextStory()"
      [disabled]="currentIndex === stories.length - 1"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>

  <div class="story-actions">
    <button mat-icon-button (click)="likeStory()">
      <mat-icon>{{ currentStory?.likedByme ? 'favorite' : 'favorite_border' }}</mat-icon>
    </button>
  </div>
</div>
